.experience{
    margin: auto;
}

    .experience .experience-grid {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        align-items: center;
        margin: 25px 0;
    }

        .experience .experience-grid img {
            display: block;
            margin: 20px auto;

        }

    .experience .experience-grid img {
        width: 200px;
    }

.education {
    width: 50%;
}

.work {
    width: 70%;
}

    .work .experience-grid {
        gap: 25px;
        grid-template-columns: 0.5fr 3fr;
    }

/* For mobile phones: */
@media only screen and (max-width: 768px) {

    .experience{
        width: 100%;
    }

        .experience .experience-grid {
            gap: 25px;
        } 

    .work .experience-grid, .education .experience-grid  {
        display: block;
    }
}
